.btn {
    transition: all 200ms;
    font-family: $main-font;
    text-align: center;
    text-transform: uppercase;
    color: $bg-color;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    cursor: pointer;
    padding: 1.3rem 4rem .5rem 4rem;
    width: 100%;
    max-width: 29.5rem;
    &-lg {
        font-size: 2.2rem;
        @include respond(sm) {
            font-size: 2rem;
            padding: 1.2rem 4rem .4rem 4rem;
            max-width: 29.5rem;

        }
    }
    &:hover {
        background-color: $main;
    }
    svg {
        path {
            transition: all 200ms;
        }
    }
    i {
        font-size: 2.4rem;
    }
    
}
