body {
    footer {
        border-top: 0;
        color: $main;
        width: 100%;
        font-size: .8rem;
        opacity: 0;
        position: relative;
        bottom: -5rem;
        animation: fadeInBottom 1s ease forwards; 
        animation-delay: 1s;
        padding: 0.5rem 6rem 1rem 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        @include respond(md) {
            padding: 0.5rem 2rem 1rem 2rem;
        }
        .social {
            display: none;
            @include respond(md) {
                display: flex;
                justify-content: center;
            }
        }
        p {
            &.disclaimer {
                display: none;
                .not-signed-up {
                    display: flex;
                    font-size: .9rem;
                    margin: 0 auto;
                    max-width: 50rem;
                    text-align: center;
                }
            }
        }
        .legal {
            max-width: 50rem;
            text-align: center;
            .disclaimer {
                text-align: center;
                font-family: $main-font;
                font-size: .9rem;
                color: $main;
                width: 100%;
                p, a {
                    font-size: .9rem;
                    font-family: $main-font;
                    color: $main;
                    margin-bottom: 0;
                }
            }
            .rca {
                display: flex;
                max-width: 7rem;
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }


    &.not-signed-up {
        footer {
            p {
                &.disclaimer {
                    display: flex;
                    font-size: .9rem;
                    margin: 0 auto;
                    max-width: 50rem;
                    text-align: center;
                }
            }
        }
    }
}
