.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    min-height: 15rem;
    max-width: 76rem;
    width: 100%;
    z-index: 10;
    transition: all 300ms;
    padding: .3rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url('../assets/img/window/window-bg.png');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: 0% 0%;
    &__wide {
        max-width: 112rem;
    }
    @include respond(xs) {
        max-width: 90%;
    }
    p {
        font-size: .8rem;
        font-family: $small-font;
        text-align: center;
    }
    h2 {
        text-align: center;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-family: $window-bold-font;
        color: $window-color;
        margin: 0;
    }
    h3 {
        text-align: center;
        font-size: 2rem;
        line-height: 1.6rem;
        font-family: $main-font;
        color: $main;
        margin: 2rem auto 1rem auto;
        font-weight: 300;
        text-transform: uppercase;
    }
    a {
        font-size: 2.2rem;
        margin-top: 1rem;
        text-transform: lowercase;
        color: $main;
        display: block;
        text-decoration: underline;
        &.btn {
            font-family: $main-font;
            color: $main;
            background-color: transparent;
            border: 1px solid $main;
            text-decoration: none;
            display: flex;
            padding: 1rem;
            text-transform: uppercase;
            &:hover {
                background-color: $bg-color-40;
            }
        }
    }
    .modal-content {
        margin: 6rem 3rem 3rem 3rem;
        max-height: 45vh;
        overflow-x: scroll;
        @include respond(xs) {
            max-height: 64vh;
            margin: 6rem 1.5rem 1rem 1.5rem;
        }
        p {
            font-family: $window-font;
            font-size: 1.4rem;
            text-align: left;
            span {
                &.alert {
                    color: red;
                    font-weight: bold;
                    font-style: italic;
                }
            }
        }
    }
    &.hidden {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-30%) translateX(-50%);
    }
    .close-modal {
        position: absolute;
        top: 8.9px;
        left: 8.4px;
        border-radius: 99px;
        background-color: #ff5f57;
        width: 12.3px;
        height: 12.3px;
        aspect-ratio: 1;
        border: none;
        cursor: pointer;
        transition: none;
        &:hover {
            background-color:rgb(225, 82, 75);
        }
    }
    

}
