.splide {
    &__arrows {
       
    }
}
.splide__slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
    img {
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 40vh;
        max-height: 30rem;
        max-width: 40vw;
        &.square-slide-img {
            // max-height: 30rem;
        }
        @include respond(md) {
            // max-width: 100%;
            // max-height: 25vh;
            max-height: 30rem;
            height: 100%;
            max-width: initial;
        }
    }
    div {
        &.cta-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            @include respond(md) {
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                display: grid;
                grid-template-areas:    'pre-order'
                                        'pre-save'
                                        'pre-add';
            }
            .pre-save {
                grid-area: pre-save;
            }
            .pre-add {
                grid-area: pre-add;
            }
            .pre-order {
                grid-area: pre-order;
            }
            span {
                font-family: $main-font;
                color: $main;
                font-size: 1.5rem;
            }
            a, button {
                font-family: $main-font;
                color: $main;
                font-size: 1.5rem;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $main;
                padding-left: 0;
                padding-right: 0;
                cursor: pointer;
                font-size: 1.5rem;
                text-align: center;
                max-width: fit-content;
                margin: auto;
                &:hover {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
}
.splide__track {
    overflow: hidden;
    @include respond(md) {
        height: 40rem;
    }
}
